body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.block {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

button {
    width: 100px;
    height: 30px;
}

